$sidenav_width: 160px;

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    float: left;
    padding: 0px;
}

#sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: $sidenav_width; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

#sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

#main {
    padding: 0px 0px;
    margin-left: $sidenav_width;
}

html,
body {
    height: 100%;
    padding: 0px 0px;
    margin: 0px 0px;
}

.current {
    color: green;
}

.inactive {
    color: #818181;
}

h1 {
    margin-top: 0px;
}